:root {
    --background: #C1EBF9;
    --overlays: #9DC9E3;
}

*{
    padding: 0;
    margin: 0;
}

#selectedheading{
    color: rgb(233, 237, 249);
}

ul {
    margin: 0;
    padding: 0;
    height: 40px;
    overflow: hidden;
    background-color: var(--overlays);
}

li, a{
    text-decoration: none; /*Remove the anchor tag decorations*/
    color: var(--background); /*Soft color for anchor tags*/
    background-color: var(--overlays); 
    text-align: center;

    padding-left: 10px; 
    margin: 5px 10px 0 0;

    display: block;
    float: right;
}

li a:hover {
    color: white; /*Turn navigation links to white*/
    text-decoration: underline;
    font-weight: bold;
    /* color: #42b4d6; */
}

footer{
    background-color: var(--overlays);
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.background-images{
    margin-top: 80px;
    position: absolute;
    z-index: -1;
}

#background-images{
    right: 0;
    position: absolute;
    margin-top: 380px;
    z-index: -3;
}

h3{
    background-color: var(--overlays);
    color: rgb(233, 237, 249);
    margin-top: 10px;
    text-align: center;
    display: block;

    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;
}

table, tr, th, td{ /*Changing the background color*/
    background-color: var(--overlays)
}

table{
    width: 100%;
    margin-top: 15%;
    align-items: center;
}

.headings-color{
    color: rgb(233, 237, 249);
    margin-bottom: 5px;
}

th{
    padding: 1px;
    text-align: center;
    color: var(--background);
}

td{
    padding: 1px;
    text-align: center; 
    color: var(--background);
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(233, 237, 249);
}

/*Timetable*/

.timetable{
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: 15px auto;
}

tr, th, td {
    border: 1px solid white;
    padding: 8px;
}

td{
    padding: 1px;
    text-align: center; 
    color: var(--background);
}

.mybuttons{
    text-align: center;
}

#addColumn, #addRow, #addAgenda, .addTime{
    background-color: var(--overlays);
    color: rgb(233, 237, 249);
    font-size: 16px;

    border: none;
    margin: 10px 10px;
    padding: 15px 32px;
    
    text-align: center;
    text-decoration: none;
    align-self: center;

    display: inline-block;
    cursor: pointer;
}

/*Delete Icon*/
.delete {
    display: none;
    float: right;
    background-color: white;
    border: none;
    color: var(--overlays);
}

td:hover .delete {
    display: inline-block;
}

.delete:hover{
    color:#375d72;
}

body{
    text-align: center;
}